@use "../../../styles/presets" as *;
@use "../../../styles/variables" as *;

.header {
    z-index: 1000;

    mat-icon {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        margin: 0 2rem;
    }

    background-color: $dark-primary;
    height: 5rem;
    text-align: center;
    color: $light-gray;
    font-size: 2.5rem;
    @extend %justify-between;
    position: sticky;
    top: 0;

    div {
        margin: 1rem;
    }

}