@import "../../../styles.scss";

.container {
    @extend .justify-center;
    flex-direction: column;
    background-color: $dark-gray;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 2rem 0;

    .group-header {
        width: 100%;
        @extend .justify-center;
        margin-top: 2rem;

        .group-input {
            width: 70%;

            .edit-icon {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                mat-icon {
                    color: $green;
                    height: 1.5rem;
                    font-size: 1.5rem;
                    transform: translateY(calc(-2rem + 2px));
                    cursor: pointer;
                }
            }
        }

    }

    .group-name-display {
        display: flex;
        align-items: center;
    }

    .menu-item-edit {
        @extend .justify-center;
        background-color: $dark-gray;
        border: 2px solid $gray;
        border-radius: 10px;
        padding: 3rem 0;
        margin-top: 2rem;
        width: 100%;

        .menu-item-info {
            width: 70%;

            .text-fields {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                .input-line {
                    width: 100%;
                    margin-bottom: 2rem;
                    display: flex;
                    flex-direction: column;

                    textarea {
                        resize: vertical;
                    }
                }
            }

            .allergens {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;

                .allergen {
                    width: 10rem;
                }
            }
        }
    }

    .menu-item-display {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;

        .menu-item-display-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }

        .icon-group {
            position: absolute;
            transform: translateX(21vw);

            mat-icon {
                height: 2rem;
                width: 2rem;
                font-size: 2rem;
            }
        }
    }

}

.menu-item-edit-toggle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    mat-icon {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        margin-top: 2rem;
        color: $green;
    }
}

.cdk-drag-preview {
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    overflow: hidden;

}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.menu-item-display:last-child {
    border: none;
}

.menu-item-display.cdk-drop-list-dragging .menu-item-display:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}