$dark-blue: #232D3F;
$dark-primary: #005B41;
$primary: #008170;

$green: rgba(41, 168, 98);
$red: rgb(226, 40, 40);

$light-gray: #f8f9fa;
$gray: #6c757d;
$gray-2: #454545;
$dark-gray: #272727;
$dark: #0F0F0F;