@import "../../../styles.scss";

.container {
    .form {
        color: $dark-gray;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .col {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            .input-group {
                width: 70%;
                margin: 1rem 0;
                display: flex;
                flex-direction: column;

                label {
                    transform: translateX(-0.25rem);
                }

                input,
                select {
                    transform: translateX(-0.25rem);
                }

                select {
                    width: calc(100% + 10px);
                }

                .error {
                    color: $red;
                    font-size: 0.75rem;
                    font-style: italic;
                }
            }
        }
    }

    .button-group {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
    }
}