@import "../../../../styles.scss";

.container {
    display: flex;

    .side-bar {
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 5rem);
        width: 20rem;
        background-color: $dark-gray;
        left: 0;
        top: 5rem;

        .group-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 2rem;

            .group-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                width: calc(100% - 3rem);
                padding: 1rem;
                background-color: $gray-2;
                border-radius: 10px;
                margin-bottom: 1rem;

                .group-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .drag-icon mat-icon {
                        height: 2rem;
                        width: 2rem;
                        font-size: 2rem;
                        cursor: move;
                    }
                }
            }

        }

        button {
            @extend .button-primary;
            width: 90%;
        }
    }

    .main-content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;

        app-menu-item-group {
            height: fit-content;
            width: 60%;
        }

        app-menu-item-group:last-of-type {
            margin-bottom: 2rem;
        }
    }
}

.footer {
    position: fixed;
    top: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

    .submit-button {
        @extend .button-primary;
    }
}


.cdk-drag-preview {
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    overflow: hidden;

    display: flex;
    align-items: center;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.group-card:last-child {
    border: none;
}

.group-card.cdk-drop-list-dragging .group-card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}